<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>PLANTILLA DE ASPIRACIÓN FOLICULAR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <app-network-notify-banner id="networkNotifyBanner"></app-network-notify-banner>
  <ion-slides pager>
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card class="card-order">
              <ion-card-header class="ibox-title">
                <h5 class="white-color">Orden de Producción</h5>
              </ion-card-header>
              <ion-card-content>
                <ion-grid>
                  <ion-row>
                    <ion-col col-4>
                      <label>Orden de producción</label>
                    </ion-col>
                    <ion-col col-8>
                      <label>Cliente</label>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-4 class="text-readonly">
                      <label>{{order.id}}</label>
                    </ion-col>
                    <ion-col col-8 class="text-readonly">
                      <label>{{order.client.bussiness_name}}</label>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-6>
                      <label>Local</label>
                    </ion-col>
                    <ion-col col-3>
                      <label>Fecha Aspiración</label>
                    </ion-col>
                    <ion-col col-3>
                      <label>Receptoras Sincronizadas</label>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-6 class="text-readonly">
                      <label>{{agenda.name_local}}</label>
                    </ion-col>
                    <ion-col col-3 class="text-readonly">
                      <label>{{aspiration.date}}</label>
                    </ion-col>
                    <ion-col col-3 class="text-readonly">
                      <label>{{aspiration.synchronized_receivers}}</label>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-6>
                      <label>Medio OPU</label>
                    </ion-col>
                    <ion-col col-6>
                      <label>Lote medio OPU</label>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-6>
                      <ion-input [(ngModel)]="aspiration.medium_opu"></ion-input>
                    </ion-col>
                    <ion-col col-6>
                      <ion-input [(ngModel)]="aspiration.medium_lot_opu"></ion-input>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-6>
                      <label>Aspirador</label>
                    </ion-col>
                    <ion-col col-6>
                      <label>Buscador</label>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-6>
                      <ion-input [(ngModel)]="aspiration.aspirator"></ion-input>
                    </ion-col>
                    <ion-col col-6>
                      <ion-input [(ngModel)]="aspiration.searcher"></ion-input>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-card class="card-order">
              <ion-card-header class="ibox-title">
                <h5 class="white-color">Datos Generales</h5>
              </ion-card-header>
              <ion-card-content>
                <ion-grid>
                  <ion-row>
                    <ion-col col-6>
                      <label>Recibido por</label>
                    </ion-col>
                    <ion-col col-6>
                      <label>Cédula</label>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-6>
                      <ion-input [(ngModel)]="aspiration.receiver_name"></ion-input>
                    </ion-col>
                    <ion-col col-6>
                      <ion-input [(ngModel)]="aspiration.identification_number"></ion-input>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-12>
                      <label>Observaciones</label>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-12>
                      <ion-textarea class="border-input" [(ngModel)]="aspiration.comments"></ion-textarea>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-12>
                      <ion-button expand="full" (click)="openSignatureModel()">
                        Modificar Firma
                        <ion-icon name="create"></ion-icon>
                      </ion-button>
                      <div style="border: solid 1px grey; min-height: 147px;">
                        <img [src]="aspiration.signatureImage" *ngIf="aspiration.signatureImage" />
                      </div>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-6>
                      <label>Temperatura de llegada</label>
                    </ion-col>
                    <ion-col col-6>
                      <label>Tipo transporte</label>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-6>
                      <ion-input [(ngModel)]="aspiration.arrived_temperature"></ion-input>
                    </ion-col>
                    <ion-col col-6>
                      <ion-input [(ngModel)]="aspiration.transport_type"></ion-input>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-6>
                      <ion-button expand="full">
                        Generar Foto
                        <ion-icon name="camera"></ion-icon>
                      </ion-button>
                    </ion-col>
                    <ion-col col-6>
                      <ion-button expand="full" (click)="openPdfViewer()">
                        Generar PDF
                        <ion-icon name="archive"></ion-icon>
                      </ion-button>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label style="margin: 0 auto"> Registros encontratos {{aspiration.details?.length }} </ion-label>
              <ion-button expand="full" (click)="openAspirationModal()">
                 Nuevo registro
                <ion-icon name="create"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <form class="form" [formGroup]="validations_form">
              <ion-card class="card-order">
                <ion-card-header class="ibox-title">
                  <h5 class="white-color">Plantilla Aspiración Fonicular</h5>
                </ion-card-header>
                <ion-card-content>

                  <ion-grid>
                    <ion-row>
                      <ion-col col-1>
                        <ion-label>#</ion-label>
                      </ion-col>
                      <ion-col col-3>
                        <ion-label>Donadora</ion-label>
                      </ion-col>
                      <ion-col col-2>
                        <ion-label>Raza</ion-label>
                      </ion-col>
                      <ion-col col-1>
                        <ion-label>Tipo</ion-label>
                      </ion-col>
                      <ion-col col-1>
                        <ion-label>Hora</ion-label>
                      </ion-col>
                      <ion-col col-2>
                        <ion-label>Toro</ion-label>
                      </ion-col>
                      <ion-col col-2>
                        <ion-label>RAZA</ion-label>
                      </ion-col>
                    </ion-row>
                    <ion-row *ngFor="let item of aspiration.details; let indx = index" (click)="openAspirationModal(indx)">
                      <ion-col col-1>
                        <ion-label>{{indx + 1}}</ion-label>
                      </ion-col>
                      <ion-col col-3>
                        <ion-label>{{item.donor }}</ion-label>
                      </ion-col>
                      <ion-col col-2>
                        <ion-label>{{item.donor_breed }}</ion-label>
                      </ion-col>
                      <ion-col col-1>
                        <ion-label>{{item.type }}</ion-label>
                      </ion-col>
                      <ion-col col-1>
                        <ion-label>{{item.arrived_time }}</ion-label>
                      </ion-col>
                      <ion-col col-2>
                        <ion-label>{{item.bull }}</ion-label>
                      </ion-col>
                      <ion-col col-2>
                        <ion-label>{{item.bull_breed }}</ion-label>
                      </ion-col>
                    </ion-row>
                    <ion-row *ngIf="aspiration.details.length === 0">
                      <ion-label>No se encontraron registros</ion-label>
                    </ion-row>
                  </ion-grid>
                </ion-card-content>
              </ion-card>
            </form>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>

</ion-content>