.ibox-title {
    background-color: #1AB394;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 2px 0 0;
    color: white;
    margin-bottom: 0;
    padding: 5px 7px 2px;
    text-align: center;
    text-transform: uppercase;
}
ion-select {
    border: solid 1px black;
}
.border-input {
    border: solid 1px black;
}
ion-datetime {
    width: 100%;
    border: solid 1px black;
}
.text-readonly {
    border: solid 1px black;
    background-color: lightgrey;
    min-height: 40px;
    padding-top: 10px;
}
ion-col {
    margin: 0 8px;
}
ion-textarea{
    height: 160px;
}
.error-message {
    color:red
}
.scroll-content {
    padding: 60px !important;
}
.fab-button {
    background-color: transparent;
    color: #488aff !important;
    font-size: 33px;
    height: 51px;
    width: 109px;
}
h5 {
    font-weight: bold;
    margin-top: 0.6rem;
}
.detailsTable {
    td {
        width: 10px;
    }
}
.modal-signature {
    height: 400px;
}
.signature-image {
    transform: translate3d(0px, 0px, 0px) scale(1) !important;
    border: solid 1px grey; 
    min-height: 250px;
}
.signature-image {
    img {
        transform: translate3d(0px, 0px, 0px) scale(1) !important;
    }
}
.photo-image {
    border: solid 1px grey; 
    min-height: 147px;
    padding: 32px;
    background-color: rgba(80, 80, 80, 0.02);
}
.photo-image {
    img {
        transform: translate3d(0px, 0px, 0px) scale(1) !important;
    }
}
.comment {
    height: 107px;
}
ion-input {
    border: solid 1px black;
    .native-input {
        margin-left: 10px;
    }
}
.card-page-1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 730px;
    ion-card {
        width: calc(100vw - 100px);
        max-width: 680px;
    }
}
.card-page-2 {
    margin-left: auto;
    margin-right: auto;
    ion-card {
        width: calc(100vw - 100px);
    }
    ion-card-content {
        padding: 0;
    }
	.detail-table-header {
		font-weight: bold;
	}
    .detail-id {
        flex: 0 0 calc(calc(0.5 / var(--ion-grid-columns, 12)) * 100%);
    }
    .detail-donor {
        flex: 0 0 calc(calc(1.2 / var(--ion-grid-columns, 12)) * 100%);
    }
    .detail-donor-breed {
        flex: 0 0 calc(calc(1 / var(--ion-grid-columns, 12)) * 100%);
    }
    .detail-local-name {
        flex: 0 0 calc(calc(1.8 / var(--ion-grid-columns, 12)) * 100%);
    }
    .detail-type {
        flex: 0 0 calc(calc(0.6 / var(--ion-grid-columns, 12)) * 100%);
    }
    .detail-arrived-time {
        flex: 0 0 calc(calc(1 / var(--ion-grid-columns, 12)) * 100%);
    }
    .detail-bull {
        flex: 0 0 calc(calc(1 / var(--ion-grid-columns, 12)) * 100%);
    }
    .detail-bull-breed {
        flex: 0 0 calc(calc(1 / var(--ion-grid-columns, 12)) * 100%);
    }
    .detail-gi {
        flex: 0 0 calc(calc(0.3 / var(--ion-grid-columns, 12)) * 100%);
    }
    .detail-gii {
        flex: 0 0 calc(calc(0.3 / var(--ion-grid-columns, 12)) * 100%);
    }
    .detail-giii {
        flex: 0 0 calc(calc(0.3 / var(--ion-grid-columns, 12)) * 100%);
    }
    .detail-others {
        flex: 0 0 calc(calc(0.3 / var(--ion-grid-columns, 12)) * 100%);
    }
}
.card-page-3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    ion-card {
        text-align: left;
        width: 100%;
    }
}
.button-panel-enabled {
    color: white;
    font-weight: bold;
    background-color:#1ABB9C;
    text-align: center;
    padding-top: 12px;
    height: 45px;
    ion-button {
        border: none;
    }
	&:after {
		content: " ";
		width: 0;
		position: absolute;
		left: 100%;
		top: 0;
		margin: 0;
		pointer-events: none;
		border-top: 14px solid transparent;
		border-bottom: 14px solid transparent;
		border-left: 11px solid #1ABB9C;
	}
}
.button-panel-disabled {
    color: white;
    font-weight: bold;
    background-color: #6fd1bd;
    text-align: center;
    padding-top: 12px;
    height: 45px;
    ion-button {
        border: none;
    }
	&:after {
		content: " ";
		width: 0;
		position: absolute;
		left: 100%;
		top: 0;
		margin: 0;
		pointer-events: none;
		border-top: 14px solid transparent;
		border-bottom: 14px solid transparent;
		border-left: 11px solid #6fd1bd;
	}
}
.button-finalize {
    min-height: 147px;
    padding: 30px;
    font-weight: bold;
    ion-button {
        height: 139px;
        background-color: #1AB394!important;
    }
}
.save-button {
    font-size: 30px;
}
.grade-celsius {
    margin-left: -10px;
}
.panel-center {
	margin-left: auto;
    margin-right: auto;
}