<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button class="toolbar-button"></ion-back-button>
      </ion-buttons>
      <ion-title>PLANILLA DE TRANSFERENCIA FOLICULAR</ion-title>
  
      <ion-buttons slot="end">
        <ion-button class="toolbar-button" (click)="saveItem()" [disabled]="!validation_form.valid">
          <ion-icon color="primary" name="save"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
      <ion-list>
        <ion-item>
          <form class="panel-center" [formGroup]="validation_form">
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-item *ngIf="!newRegistry" style="margin: 0 auto">Registro {{indx + 1 }} de {{detailsList?.length }}
                  </ion-item>
                  <ion-item *ngIf="newRegistry" style="margin: 0 auto">Nuevo Registro
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6>
                  <ion-label>Clasificación del Embrión</ion-label>
                </ion-col>
                <ion-col col-6>
                  <ion-label>Receptora sincronizada</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6>
                  <ion-input class="text-readonly" type="text" readonly formControlName="embryo_class" [(ngModel)]="dataItem.embryo_class"></ion-input>
                  <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.embryo_class">
                      <div class="error-message" *ngIf="validation_form.get('embryo_class').hasError(validation.type) 
                          && (validation_form.get('embryo_class').dirty || validation_form.get('embryo_class').touched)">
                        {{ validation.message }}
                      </div>
                    </ng-container>
                  </div>
                </ion-col>
                <ion-col col-6>
                  <ion-checkbox checked="{{checkInitial}}" (ionChange)="checkValue()"></ion-checkbox>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-12>
                  <ion-label>Nombre de Receptora</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>    
                <ion-col col-12>
                  <ion-input type="text" formControlName="receiver" [(ngModel)]="dataItem.receiver"></ion-input>
                  <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.receiver">
                      <div class="error-message" *ngIf="validation_form.get('receiver').hasError(validation.type) 
                        && (validation_form.get('receiver').dirty || validation_form.get('receiver').touched)">
                        {{ validation.message }}
                      </div>
                    </ng-container>
                  </div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6>
                  <ion-label>Cuerpo Lúteo</ion-label>
                </ion-col>
                <ion-col col-6>
                  <ion-label>Local</ion-label>
                </ion-col>
                <!--ion-col col-6>
                  <ion-label>Transferidor</ion-label>
                </ion-col-->
              </ion-row>
              <ion-row>
                <ion-col col-6 *ngIf="checkRecept">
                    <ion-select style="max-width: 100%;" formControlName="recept"
                      interface="popover" interfaceOptions="{header: 'Receptora'}"
                      placeholder="Seleccione" [(ngModel)]="dataItem.evaluation_detail_id">
                      <ion-select-option *ngFor="let recept of transfer.synchronizeds" [value]="recept.id">
                        {{recept.animal_id + "-" + recept.chapeta}}
                      </ion-select-option>
                    </ion-select>
                    <div class="validation-errors">
                      <ng-container *ngFor="let validation of validation_messages.synchronizeds">
                        <div class="error-message" *ngIf="validation_form.get('synchronizeds').hasError(validation.type) 
                          && (validation_form.get('synchronizeds').dirty || validation_form.get('synchronizeds').touched)">
                          {{ validation.message }}
                        </div>
                      </ng-container>
                    </div>
                  </ion-col>
                  <ion-col col-6 *ngIf="!checkRecept">
                    <ion-input type="text" formControlName="corpus_luteum" [(ngModel)]="dataItem.corpus_luteum"></ion-input>
                    <div class="validation-errors">
                      <ng-container *ngFor="let validation of validation_messages.corpus_luteum">
                        <div class="error-message" *ngIf="validation_form.get('corpus_luteum').hasError(validation.type) 
                          && (validation_form.get('corpus_luteum').dirty || validation_form.get('corpus_luteum').touched)">
                          {{ validation.message }}
                        </div>
                      </ng-container>
                    </div>
                  </ion-col>
                <ion-col col-6>
                  <ion-select style="max-width: 100%;" formControlName="local_id" 
                  interface = "popover"
                  interfaceOptions = "{header: 'Locales'}"
                  placeholder="Seleccione" 
                  [(ngModel)]="dataItem.local_id">
                    <ion-select-option *ngFor="let local of detailApi.order.client.locals" [value]="local.id">{{local.name}}</ion-select-option>
                  </ion-select>
                  <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.local_id">
                      <div class="error-message" *ngIf="validation_form.get('local_id').hasError(validation.type) 
                        && (validation_form.get('local_id').dirty || validation_form.get('local_id').touched)">
                        {{ validation.message }}
                      </div>
                    </ng-container>
                  </div>
                </ion-col>
                <!--ion-col col-6>
                  <ion-input formControlName="transferor" [(ngModel)]="dataItem.bull_breed"></ion-input>
                  <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.transferor">
                      <div class="error-message" *ngIf="validation_form.get('transferor').hasError(validation.type) 
                        && (validation_form.get('transferor').dirty || validation_form.get('transferor').touched)">
                        {{ validation.message }}
                      </div>
                    </ng-container>
                  </div>
                </ion-col-->
              </ion-row>
              <ion-row>
                <ion-col col-12>
                  <ion-label>Observaciones</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-12>
                  <ion-textarea type="text" formControlName="comments" [(ngModel)]="dataItem.comments"></ion-textarea>
                  <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.comments">
                      <div class="error-message" *ngIf="validation_form.get('comments').hasError(validation.type) 
                        && (validation_form.get('comments').dirty || validation_form.get('comments').touched)">
                        {{ validation.message }}
                      </div>
                    </ng-container>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </form>
        </ion-item>
        <ion-item>
          <ion-grid style="text-align: center;">
            <ion-row>
              <ion-col>
                <ion-button fill="outline" class="fab-button" [disabled]="indx === 0 || (action === 'update' && !validation_form.valid) " (click)="backItemButton()">
                  <ion-icon name="arrow-dropleft-circle"></ion-icon>
                </ion-button>
              </ion-col>
              <ion-col>
              </ion-col>
              <ion-col>
                <ion-button fill="outline" class="fab-button" [disabled]="indx === detailsList.length - 1 || !validation_form.valid" (click)="nextItemButton()">
                  <ion-icon name="arrow-dropright-circle"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </ion-content>
