ion-tab-bar {
    height: 117px;
    ion-tab-button {
        font-size: 24px;
        ion-icon {
            font-size: 51px;
        }
    }
}
.badge {
    font-size: 34px;
    top: 4px;
    right: 37px;
}