<ion-tabs class="ion-tabs">

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="agenda" (click)="newAgenda=false">
      <ion-icon name="paper"></ion-icon>
      <ion-label>Agenda</ion-label>
      <ion-badge class="badge" *ngIf="newAgenda" color="danger">!</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="sync" (click)="onSyncButton">
      <ion-icon name="repeat"></ion-icon>
      <ion-label>Sync</ion-label>
    </ion-tab-button>
	
	<ion-tab-button tab="more">
      <ion-icon name="more"></ion-icon> 
      <ion-label>Más</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
