ion-tab-bar {
    height: 117px;
    ion-tab-button {
        font-size: 24px;
        ion-icon {
            font-size: 37px;
        }
    }
}
.badge {
    font-size: 23px;
    top: 4px;
    right: 50px;
}