<ion-header>
  <ion-toolbar>
    <ion-title>
      ASPIRACION FOLICULAR PDF
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button color="primary" (click)="exportPdf()">
        <ion-icon slot="icon-only" name="print"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>>

<header class="clearfix">
    <div id="logo">
        <img src="http://tester.estrategicacomunicaciones.com/img/invitroLogo.jpg "  >
    </div>
    <div id="company">
        <br><br>
        <div> Cra 72A N° 49A-39 Bogotá <i class="fa fa-map-signs"></i></div>
        <div>Invitro <i class="fa fa-map-marker" aria-hidden="true"></i></div>
        <div> (+57 1) 796 86 26 | 313 570 00 23 <i class="fa fa-phone"></i> </div>
        <div> ivc.logistica@genusplc.com <i class="fa fa-phone"></i> </div>
    </div>
</header>
<main>
    <div id="details" class="clearfix">
        <div id="client">
            <div class="to"><h2>Órden de Producción: {{order.id}}</h2></div>
        </div>
        <div id="invoice">
            <h1>DATOS DE REPORTE:</h1>
            <div class="date">Fecha del reporte: 03/05/2019</div>
            <div class="date">Hora del reporte: 03:23 PM</div>
            <div><a class="noPrint" href="http://tester.estrategicacomunicaciones.com/productionOrder/reportPreOrderDownload/1">
                    <i class="fa fa-download">
                    </i>Descargar reporte
                </a>
            </div>
        </div>
    </div>
    <div id="details" class="clearfix">
        <h2>Datos de cliente:</h2>
        <div class="row">
            <div class="col-md-5">
                <dl class="dl-horizontal">
                    <dt>Fecha:</dt> <dd id="nombreProyecto">2019-03-15 16:37:42 &nbsp;</dd>
                    <dt>N° Identificación:</dt> <dd  id="numeroIdentificacion"> 900771011-3 &nbsp;</dd>
                    <dt>Razon Social:</dt> <dd id="razonSocial"> AGROPECUARIA BAMBUSA SAS &nbsp;</dd>
                    <dt>Departamento:</dt> <dd id="departamento">Risaralda &nbsp;</dd>
                    <dt>Ciudad:</dt> <dd id="ciudad">Pereira &nbsp;</dd>
                </dl>
            </div>
            <div class="col-md-5" id="cluster_info">
                <dl class="dl-horizontal" >
                    <dt>Correo Electrónico:</dt> <dd id="correoElectronico" >david.jaramillo@hsj.com.co &nbsp;</dd>
                    <dt>Contacto:</dt> <dd id="contacto" >DAVID JARAMILLO &nbsp;</dd>
                    <dt>Cargo:</dt> <dd id="cargo" > &nbsp;</dd>
                    <dt>Direccion:</dt> <dd id="direccion" >KR 14A # 113 - 60 &nbsp;</dd>
                    <dt>Teléfono:</dt> <dd id="telefono" >056 3238605 &nbsp;</dd>
                    <dt>Móvil:</dt> <dd id="movil" >3167405450 &nbsp;</dd>
                </dl>
            </div>
        </div>
        <br>
        <div class="col-md-8">
            <h2>Información del evento:</h2>
        </div>

        <div class="clearfix">
            <div class="col-md-12">
                <h3>Equipo de trabajo:</h3>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>teléfono</th>
                        <th>Correo</th>
                        <th>Evento</th>
                        <th>Observación</th>
                        <th>Departamento</th>
                        <th>Municipio</th>
                        <th>Direccion</th>
                        <th>Fecha</th>
                    </tr>
                    </thead>
                    <tbody>
                                                                        <tr>
                                <td>Jahir Vicente Garzon Gelvez</td>
                                <td> </td>
                                <td>jahir.garzon@invitro.com.co</td>
                                <td>Aspiración Folicular</td>
                                <td>Aspiración folícular para DT- Nada en fresco</td>
                                <td>Risaralda</td>
                                <td>Pereira</td>
                                <td></td>
                                                                                                        <td>2019-03-11</td>
                                
                            </tr>
                                                                                                  <tr>
                                <td>Oscar Cruz</td>
                                <td> </td>
                                <td>oscar.cruz@invitro.com.co</td>
                                <td>Aspiración Folicular</td>
                                <td>Aspiración folícular para DT- Nada en fresco</td>
                                <td>Risaralda</td>
                                <td>Pereira</td>
                                <td></td>
                                                                                                        <td>2019-03-11</td>
                                
                            </tr>
                                                                </tbody>
                </table>
            </div>
        </div>
        <h2>Locales TE:</h2>
        <div class="clearfix">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Nombre Local</th>
                    <th>Ciudad</th>
                    <th>Departamento</th>
                    <th>Teléfono</th>
                    <th>Correo</th>
                    <th>Contacto</th>
                </tr>
                </thead>
                <tbody>
                                    <tr>
                        <td>
                            Hacienda Santa Marta
                        </td>
                        <td>
                            Pereira
                        </td>
                        <td>
                            Risaralda
                        </td>
                        <td>
                            3134880611
                        </td>
                        <td>
                            juan.molina@ciacol.co
                        </td>
                        <td>
                            Juan José Molina
                        </td>
                    </tr>
                                </tbody>
            </table>
        </div>
        <h2>Servicios contratados:</h2>
        <div class="col-md-12 clearfix">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Nombre Servicio</th>
                    <th>Nombre Subservicio</th>
                    <th>Valor</th>
                </tr>
                </thead>
                <tbody>
                                    <tr>
                        <td>Embrión Congelado</td>
                        <td>Embrión Congelado</td>
                        <td>$150.000</td>
                    </tr>
                                    <tr>
                        <td>Embrión Congelado</td>
                        <td>Transporte</td>
                        <td>$540.000</td>
                    </tr>
                                </tbody>
            </table>
        </div>
    </div>
    <div id="thanks" align="center"></div>
</main>

</ion-content>
