.filter-datetime-str {
    flex: 10px;
    margin-top: 14px;
}
ion-datetime {
    border: solid 1px black;
    min-width: calc(35%);
}
.reset-filters {
    padding-top: 0;
    margin-bottom: 15px;
}
.filter-registry {
    margin-top: 17px;
    margin-left: 5px;
    flex: 132px;
}
.filter-datetime {
    flex: 60px;
}
.cart-col {
    flex: 0.1;
}
.cart-fa-icon {
    font-size: 38px;
    margin-left: 10px;
}
.cart-fa-name {
    font-size: 2.1rem;
    margin: -12px 0px 0px 46px;
}
.card-item-field { 
    margin-left: 18px;
}
ion-card-content {
    margin-top: -31px;
}
.filter-button {
    font-size: 37px;
    margin-top: -2px;
}
.logo-icon {
    width: 308px;
    height: 177px;
}
.logo-icon-small {
    width: 87px;
    height: auto;
    padding: 0;
    margin-left: 10px;
}