<ion-split-pane>
  <ion-menu side="end">
    <ion-header>
      <ion-toolbar>
        <ion-title>Filtros de búsqueda</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>
          <ion-label>Sólo mis agendas</ion-label>
          <ion-toggle item-end [(ngModel)]="filter.mySelf" (ngModelChange)="filterItems()"></ion-toggle>
        </ion-item>
        <ion-item>
          <ion-label>Todos los dias</ion-label>
          <ion-toggle item-end [(ngModel)]="filter.allDays" (ngModelChange)="filterItems()"></ion-toggle>
        </ion-item>
        <ion-item *ngIf="!filter.allDays">
          <ion-icon name="calendar"></ion-icon>
          <ion-label> &nbsp; Seleccione el día </ion-label>
          <ion-datetime [(ngModel)]="filter.datetime" (ngModelChange)="updateDateTime()" displayFormat="DD/MMM"
            pickerFormat="DD MMMM" cancelText="Cancelar" doneText="Aceptar"
            monthNames="Enero,Febrero,Marzo,Abril,Mayo,Junio,Julio,Agosto,Septiembre,Octubre,Noviembre,Diciembre"
            monthShortNames="Ene,Feb,Mar,Abr,May,Jun,Jul,Ago,Sep,Oct,Nov,Dic"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label>Todas las plantillas</ion-label>
          <ion-toggle item-end [(ngModel)]="filter.allTemplates" (ngModelChange)="filterItems()"></ion-toggle>
        </ion-item>
        <div *ngIf="!filter.allTemplates">
          <ion-item *ngFor="let template of templates">
            <fa-icon [icon]="template.icon" item-start></fa-icon>
            <ion-label> &nbsp; {{template.name}}</ion-label>
            <ion-checkbox item-end checked="true" [(ngModel)]="template.check" (ngModelChange)="filterItems()">
            </ion-checkbox>
          </ion-item>
        </div>
        <ion-item>
            <ion-label>Código de orden </ion-label>
            <ion-searchbar item-end placeholder="Orden" [(ngModel)]="filter.orderId" (ionChange)="filterItems('orderId')"></ion-searchbar>
          </ion-item>
        <ion-item>
          <ion-button class="ion-padding reset-filters" expand="full" fill="outline" shape="round"
            (click)="resetFilter()">
            &nbsp; Reestablecer Filtros
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>


  <ion-router-outlet main>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-menu-button>
            <ion-icon color="primary" class="filter-button" name="options"></ion-icon>
          </ion-menu-button>
        </ion-buttons>
        <img class="logo-icon-small ion-padding" src="assets/imgs/logoInvitroAlfa_968x576.png" />
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <app-network-notify-banner id="networkNotifyBanner"></app-network-notify-banner>
      <ion-card>
        <ion-grid>
          <ion-row>
            <ion-col class="filter-registry" col-10>
              {{detailsApi.length}} item(s) filtrado(s) de {{detailsApiOriginal.length}} encontrado(s)
            </ion-col>
            <ion-col col-1 class="filter-all-days">
              <ion-item>
                <ion-label>Solo mías</ion-label>
                <ion-toggle item-end [(ngModel)]="filter.mySelf" (ngModelChange)="filterItems()"></ion-toggle>
              </ion-item>
            </ion-col>
            <ion-col col-1 class="filter-datetime">
              <ion-grid>
                <ion-row class="ion-text-center">
                  <ion-col>
                    <ion-button [disabled]="filter.allDays" color="primary" (click)="backDay()">
                      <ion-icon name="skip-backward"></ion-icon>
                    </ion-button>
                  </ion-col>
                  <ion-col class="filter-datetime-str">
                    <ion-label *ngIf="filter.allDays">{{filter.dayStr}}</ion-label>
                    <ion-label *ngIf="!filter.allDays" color="primary">{{filter.dayStr}}</ion-label>
                  </ion-col>
                  <ion-col>
                    <ion-button [disabled]="filter.allDays" color="primary" (click)="forwardDay()">
                      <ion-icon name="skip-forward"></ion-icon>
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card *ngFor="let detailApi of detailsApi" (click)="goToTemplate(detailApi)">
              <ion-fab vertical="top" horizontal="start" slot="fixed">
                <fa-icon class="cart-fa-icon" [icon]="detailApi.templateType.icon"></fa-icon>
              </ion-fab>
              <ion-card-header>
                <ion-grid>
                  <ion-row>
                    <ion-col size="7">
                      <h2 class="cart-fa-name"> {{detailApi.templateType.name}} </h2>
                    </ion-col>
                    <ion-col size="5">
                      <h2>Orden de producción {{detailApi.order?.id}}</h2>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-header>
              <ion-card-content>
                <ion-list>
                  <ion-item>
                    Nombre cliente:
                    <ion-label class="card-item-field" item-end>{{detailApi.order?.client?.bussiness_name}}</ion-label>
                  </ion-item>
                  <ion-item>
                    Local:
                    <ion-label class="card-item-field" item-end>{{detailApi.local?.name}}</ion-label>
                  </ion-item>
                  <ion-item *ngIf="detailApi.agenda">
                    Personal asignado:
                    <ion-label class="card-item-field" item-end>{{detailApi.agenda.user?.name}}</ion-label>
                  </ion-item>
                  <ion-item>
                    Observaciones:
                    <ion-label class="card-item-field" item-end>{{detailApi.comments}}</ion-label>
                  </ion-item>
                  <ion-item *ngIf="detailApi.agenda">
                    Fecha y hora:
                    <ion-label class="card-item-field" *ngIf="!detailApi.agenda.all_day" item-end>
                      {{detailApi.agenda.start_date}}
                    </ion-label>
                    <ion-label class="card-item-field" *ngIf="detailApi.agenda.all_day" item-end>
                      {{detailApi.agenda.start_date.split(' ')[0]}} Todo el día
                    </ion-label>
                  </ion-item>
                </ion-list>
              </ion-card-content>
            </ion-card>
            <ion-item></ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </ion-router-outlet>
</ion-split-pane>