<ion-header>
  <ion-toolbar>
    <ion-title>agenda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-row class="text-align-center">
      <ion-col class="item-length">
        {{agendaList.length}} item(s) encontrado(s)
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label color="primary">Solo mías</ion-label>
          <ion-toggle [(ngModel)]="filter.mySelf" (ngModelChange)="filterItems()"></ion-toggle>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-row>
          <ion-col col-3>
            <ion-button color="primary" (click)="backDay()">
              <ion-icon name="skip-backward"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col class="dayCalendar" col-6>
            <ion-label color="primary">{{filter.dayStr}}</ion-label>
          </ion-col>
          <ion-col col-3>
            <ion-button color="primary" (click)="forwardDay()">
              <ion-icon name="skip-forward"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-col>

    </ion-row>

  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card *ngFor="let agenda of agendaList">
          <ion-card-header>
            <h3 style="font-size: 1.2rem;">
                <fa-icon [icon]="['fas', 'search']"></fa-icon>
                <fa-icon [icon]="['fas', 'eye-dropper']"></fa-icon>
                <fa-icon [icon]="['fas', 'flask']"></fa-icon>
                <fa-icon [icon]="['fas', 'magic']"></fa-icon>
                <fa-icon [icon]="['fas', 'stethoscope']"></fa-icon>
                <fa-icon [icon]="['fas', 'random']"></fa-icon>
                <fa-icon [icon]="['fas', 'truck']"></fa-icon>


              <ion-icon style="color:red;" name="aperture"></ion-icon>
              Aspiracion</h3>
            <small>Orden de producción {{agenda?.order_id}} </small>
          </ion-card-header>
          <ion-card-content style="font-size: 1.3rem;">
            Orden realizada a {{agenda.client?.contact}} en la cuidad de {{agenda.client?.citiesOne.name}}.
            <small>Fecha: {{agenda?.start_date}} </small>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>