ion-col {
    margin: 0 4px;
}
.toolbar-button {
    font-size: 30px;
}
ion-item {
    --highlight-color-invalid: none;
    --highlight-color-valid: none;
    font-size: 23px;
}
ion-select {
    border: solid 1px black;
    font-size: 23px;
    min-height: 62px;
    min-width: 321px;
    padding-top: 15px;
}
ion-label {
    font-size: 23px!important;
    max-width: none!important;
}
ion-input {
    border: solid 1px black;
    font-size: 23px;
    padding-left: 10px!important;
}
ion-datetime {
    width: 100%;
    border: solid 1px black;
}
ion-textarea{
    height: 160px;
    font-size: 23px;
    border: solid 1px black;
}
.text-readonly {
    padding-left: 13px;
    border: solid 1px black;
    background-color: #e5e5e5;
    min-height: 60px;
    padding-top: 14px;
    min-width: 348px;
}
.error-message {
    color:red;
    font-size: 23px;
}
.ibox-title {
    background-color: #1AB394;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 2px 0 0;
    color: white;
    margin-bottom: 0;
    padding: 5px 7px 2px;
    text-align: center;
    text-transform: uppercase;
    h5 {
        font-weight: bold;
        margin-top: 0.6rem;
        font-size: 27px;
    }
}
.new-detail-button {
    font-size: 47px;
    width: 111px;
    height: 63px;
    margin-left: 36px;
}
ion-col {
    margin: 0 8px;
}
.fab-button {
    background-color: transparent;
    color: #488aff !important;
    font-size: 33px;
    height: 51px;
    width: 109px;
}
.panel-center {
	margin-left: auto;
    margin-right: auto;
}

form {
    margin-bottom: 26px;
}