<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="toolbar-button"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button autoHide="false" (click)="onSaveButton()" class="toolbar-button">
        <ion-icon color="primary" name="save"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>PLANILLA DE DIAGNÓSTICO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="app">
  <app-network-notify-banner id="networkNotifyBanner"></app-network-notify-banner>
  <ion-list>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col (click)="setControlPanel(1)">
            <div
              [ngClass]="{'button-panel-enabled': mbControlPanel === 1, 'button-panel-disabled': mbControlPanel !== 1 }">
              <ion-label>1.Orden</ion-label>
            </div>
            
          </ion-col>
          <ion-col (click)="setControlPanel(2)">
            <div
              [ngClass]="{'button-panel-enabled': mbControlPanel === 2, 'button-panel-disabled': mbControlPanel !== 2 }">
              <ion-label>2. Planilla</ion-label>
            </div>
          </ion-col>
          <ion-col (click)="setControlPanel(3)">
            <div
              [ngClass]="{'button-panel-enabled': mbControlPanel === 3, 'button-panel-disabled': mbControlPanel !== 3 }">
              <ion-label>3. General</ion-label>
            </div>
            <ion-badge class="badge-error" *ngIf="!validation_form_general.valid" color="danger">!</ion-badge>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item *ngIf="mbControlPanel===1" class="card-page-order">
        <ion-card>
          <ion-card-header class="ibox-title">
            <h5>Orden de Producción</h5>
          </ion-card-header>
          <ion-card-content>
            <ion-grid style="padding: 18px;">
              <ion-row>
                <ion-col size="4">
                  <ion-label>Orden de producción</ion-label>
                </ion-col>
                <ion-col size="7.6">
                  <ion-label>Cliente</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="4" class="text-readonly">
                  <ion-label>{{order.id}}</ion-label>
                </ion-col>
                <ion-col size="7.6" class="text-readonly">
                  <ion-label>{{order.client.bussiness_name}}</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="5">
                  <ion-label>Local</ion-label>
                </ion-col>
                <ion-col size="6">
                  <ion-label>Fecha Diagnóstico</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="5" class="text-readonly">
                  <ion-label>{{agenda?.name_local}}</ion-label>
                </ion-col>
                <ion-col size="6" class="text-readonly">
                  <ion-label>{{diagnostic.date}}</ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
    </ion-item>
    <ion-item *ngIf="mbControlPanel===2">
      <ion-list>
        <ion-item>
          <ion-label item-start style="margin: 0 auto"> Registros encontratos {{diagnostic.details?.length }}
          </ion-label>
          <ion-item item-end>
            <ion-label>Nuevo registro </ion-label>
            <ion-button class="new-detail-button" shape="round" fill="outline" expand="block"
              (click)="openDiagnosticDetail()">
              <ion-icon name="create"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-item>
        <ion-item class="card-page-details">
          <ion-card>
            <ion-card-header class="ibox-title">
              <h5>Planilla Diagnóstico</h5>
            </ion-card-header>
            <ion-card-content>
              <ion-list>
                <ion-item>
                  <ion-grid>
                    <ion-row class="detail-table-header">
                      <ion-col class="detail-id">
                        <ion-label>#</ion-label>
                      </ion-col>
                      <ion-col class="detail-receiver">
                        <ion-label>Receptora</ion-label>
                      </ion-col>
                      <ion-col class="detail-embryo">
                        <ion-label>Embrión</ion-label>
                      </ion-col>
                      <ion-col class="detail-embryo_class">
                        <ion-label>Clasificación del embrión</ion-label>
                      </ion-col>
                      <ion-col class="detail-donor">
                        <ion-label>Donadora (RGD/Nombre)</ion-label>
                      </ion-col>
                      <ion-col class="detail-donor_breed">
                        <ion-label>Raza</ion-label>
                      </ion-col>
                      <ion-col class="detail-bull">
                        <ion-label>Toro (RGD/Nombre)</ion-label>
                      </ion-col>
                      <ion-col class="detail-bull-breed">
                        <ion-label>Raza</ion-label>
                      </ion-col>
                      <ion-col class="detail-corpus_luteum">
                        <ion-label>Cuerpo Luteo</ion-label>
                      </ion-col>
                      <ion-col class="detail-transferor">
                        <ion-label>Transferidor</ion-label>
                      </ion-col>
                      <ion-col class="detail-dx1">
                        <ion-label>Dx1</ion-label>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-item>
                <ion-item-sliding *ngFor="let item of diagnostic.details; let indx = index">
                  <ion-item>
                    <ion-grid class="item-sliding">
                      <ion-row>
                        <ion-col class="detail-id">
                          <ion-label>{{indx + 1}}</ion-label>
                        </ion-col>
                        <ion-col class="detail-donor">
                          <ion-label>{{item.donor }}</ion-label>
                        </ion-col>
                        <ion-col class="detail-donor-breed">
                          <ion-label>{{item.donor_breed }}</ion-label>
                        </ion-col>
                        <ion-col class="detail-local-name">
                          <ion-label>{{item.local?.name }}</ion-label>
                        </ion-col>
                        <ion-col class="detail-type">
                          <ion-label>{{item.type }}</ion-label>
                        </ion-col>
                        <ion-col class="detail-arrived-time">
                          <ion-label>{{item.arrived_time }}</ion-label>
                        </ion-col>
                        <ion-col class="detail-bull">
                          <ion-label>{{item.bull }}</ion-label>
                        </ion-col>
                        <ion-col class="detail-bull-breed">
                          <ion-label>{{item.bull_breed }}</ion-label>
                        </ion-col>
                        <ion-col class="detail-gi">
                          <ion-label>{{item.gi }}</ion-label>
                        </ion-col>
                        <ion-col class="detail-gii">
                          <ion-label>{{item.gii }}</ion-label>
                        </ion-col>
                        <ion-col class="detail-giii">
                          <ion-label>{{item.giii }}</ion-label>
                        </ion-col>
                        <ion-col class="detail-others">
                          <ion-label>{{item.others }}</ion-label>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-item>
                  <ion-item-options>
                    <ion-button color="success" icon-start (click)="openDiagnosticDetail(indx)">
                      Editar
                    </ion-button>
                    <ion-button color="danger" icon-start [disabled]="item.stateSync !== 'C'">
                      <ion-icon name="trash"></ion-icon>
                      Borrar
                    </ion-button>
                  </ion-item-options>
                </ion-item-sliding>
                <ion-item *ngIf="diagnostic.details.length === 0">
                  <ion-label>No se encontraron registros</ion-label>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-item>
      </ion-list>
    </ion-item>
    <ion-item *ngIf="mbControlPanel===3">
      <ion-list class="card-page-general">
        <form [formGroup]="validation_form_general">
          <ion-item>
            <ion-card>
              <ion-card-header class="ibox-title">
                <h5>Datos Generales</h5>
              </ion-card-header>
              <ion-card-content>
                <ion-grid>
                  <ion-row>
                    <ion-col size="5">
                      <ion-label>Temperatura de llegada</ion-label>
                    </ion-col>
                    <ion-col size="6">
                      <ion-label>Tipo transporte</ion-label>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="5">
                      <ion-grid>
                        <ion-row>
                          <ion-col size="10.8" style="margin-left: -9px; margin-top: -9px">
                            <ion-input type="number" step="any" formControlName="arrived_temperature_number"
                              [(ngModel)]="diagnostic.arrived_temperature_number"
                              (ionChange)="onChangeArrivedTemperature()">
                            </ion-input>
                          </ion-col>
                          <ion-col size="1" class="ion-text-start">
                            <h1 class="grade-celsius">°C</h1>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                      <div>
                        <ng-container *ngFor="let validation of validation_messages.arrived_temperature_number">
                          <div class="error-message"
                            *ngIf="validation_form_general.get('arrived_temperature_number').hasError(validation.type) 
                            && (validation_form_general.get('arrived_temperature_number').dirty || validation_form_general.get('arrived_temperature_number').touched)">
                            {{ validation.message }}
                          </div>
                        </ng-container>
                      </div>
                    </ion-col>
                    <ion-col size="6">
                      <ion-input formControlName="transport_type" [(ngModel)]="diagnostic.transport_type"></ion-input>
                      <div>
                        <ng-container *ngFor="let validation of validation_messages.transport_type">
                          <div class="error-message"
                            *ngIf="validation_form_general.get('transport_type').hasError(validation.type) 
                            && (validation_form_general.get('transport_type').dirty || validation_form_general.get('transport_type').touched)">
                            {{ validation.message }}
                          </div>
                        </ng-container>
                      </div>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="7">
                      <ion-label>Nombre del encargado</ion-label>
                    </ion-col>
                    <ion-col size="4">
                      <ion-label>Cédula</ion-label>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="7">
                      <ion-input type="text" formControlName="receiver_name" [(ngModel)]="diagnostic.receiver_name">
                      </ion-input>
                      <div>
                        <ng-container *ngFor="let validation of validation_messages.receiver_name">
                          <div class="error-message"
                            *ngIf="validation_form_general.get('receiver_name').hasError(validation.type) 
                            && (validation_form_general.get('receiver_name').dirty || validation_form_general.get('receiver_name').touched)">
                            {{ validation.message }}
                          </div>
                        </ng-container>
                      </div>
                    </ion-col>
                    <ion-col size="4">
                      <ion-input type="text" formControlName="identification_number"
                        [(ngModel)]="diagnostic.identification_number"></ion-input>
                      <div>
                        <ng-container *ngFor="let validation of validation_messages.identification_number">
                          <div class="error-message"
                            *ngIf="validation_form_general.get('identification_number').hasError(validation.type) 
                            && (validation_form_general.get('identification_number').dirty || validation_form_general.get('identification_number').touched)">
                            {{ validation.message }}
                          </div>
                        </ng-container>
                      </div>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-button class="signature-pad-button" expand="full" (click)="openSignatureModel()">
                        Modificar Firma
                        <ion-icon name="create"></ion-icon>
                      </ion-button>
                      <img class="signature-image" [src]="diagnostic.signatureImage"
                        *ngIf="diagnostic.signatureImage" />
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-label>Observaciones</ion-label>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-textarea class="comment" formControlName="comments" [(ngModel)]="diagnostic.comments">
                      </ion-textarea>
                      <div>
                        <ng-container *ngFor="let validation of validation_messages.comments">
                          <div class="error-message"
                            *ngIf="validation_form_general.get('comments').hasError(validation.type) 
                            && (validation_form_general.get('comments').dirty || validation_form_general.get('comments').touched)">
                            {{ validation.message }}
                          </div>
                        </ng-container>
                      </div>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-grid>
                      <ion-row>
                        <ion-col size="4">
                          <ion-button class="take-photo-button" expand="full" [disabled]="!showTakePhoto"
                            (click)="openCamera()">
                            Generar Foto
                            <ion-icon name="camera"></ion-icon>
                          </ion-button>
                          <div class="photo-image">
                            <img [src]="diagnostic.photoImage" *ngIf="diagnostic.photoImage" />
                            <img src="assets/imgs/take-photo-icon.png" *ngIf="!diagnostic.photoImage" />
                          </div>
                        </ion-col>
                        <ion-col size="1"></ion-col>
                        <ion-col size="6">
                          <ion-button [disabled]="!validation_form_general.valid" 
                            class="make-pdf-button" expand="full" (click)="openPdfViewer()">
                            Generar PDF
                            <ion-icon name="archive"></ion-icon>
                          </ion-button>
                          <ion-button class="button-finalize"
                            [disabled]="!validation_form_general.valid" expand="full"
                            color="success-shade" (click)="presentAlertConfirm()">
                            Finalizar Diagnóstico
                          </ion-button>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>
          </ion-item>
        </form>
      </ion-list>
    </ion-item>
  </ion-list>
</ion-content>