.logo-icon-small {
    width: 87px;
    height: auto;
    padding: 0;
    margin-left: 10px;
}
.info {
    color: green;
}
.warning {
    color: yellow;
}
.error {
    color: red;
}
.sizeTime {
    min-width: 20% !important;
    max-width: 20% !important;
}
.item-accordion {
    line-height: 38px;
    padding-top: 0;
    padding-bottom: 0;
    transition: 0.5s all linear;
  }
.item-accordion.ng-hide {
    line-height: 0px;
}
.item-accordion.ng-hide-add,
.item-accordion.ng-hide-remove {
  display: block !important;
}
