<ion-header>
    <ion-toolbar>
      <img class="logo-icon-small ion-padding" src="assets/imgs/logoInvitroAlfa_968x576.png" />
      <ion-label>  Sincronización</ion-label>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <app-network-notify-banner id="networkNotifyBanner"></app-network-notify-banner>
  <ion-card style="height: 90%; overflow: auto">
    <div id="divConsole" style="margin: 15px" [innerHtml]="sanitizer.bypassSecurityTrustHtml(contentConsole)">
    </div>
  </ion-card>
</ion-content>