<ion-header>
    <ion-toolbar>
      <img class="logo-icon-small ion-padding" src="assets/imgs/logoInvitroAlfa_968x576.png" />
      <ion-label></ion-label>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <app-network-notify-banner id="networkNotifyBanner"></app-network-notify-banner>
  <ion-card style="height: 90%; overflow: auto">
    <div id="divConsole" style="margin: 15px">
      <div *ngFor="let registry of logs">
        <ion-item [ngClass]="registry.type" class="item-stable">
          <ion-label item-start class="sizeTime">[{{registry.time}}]</ion-label>
          <ion-label text-wrap>{{registry.message}}</ion-label>
          <ion-icon *ngIf="registry.details" item-end [name]="isDeploy(registry) ? 'arrow-up' : 'arrow-down'" 
            (click)="deploy(registry)" ></ion-icon>
        </ion-item>
        <ion-list *ngIf="isDeploy(registry)" class="item-accordion">
          <ion-item *ngFor="let detail of registry.details">
            <ion-label item-start class="sizeTime"></ion-label>
            <ion-label [ngClass]="registry.type" text-wrap>{{detail}}</ion-label>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </ion-card>
</ion-content>